html, body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    padding: 1rem;
    text-transform: uppercase;
    align-items: baseline;
}
.intro{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}
.intro h1{
    margin-top: 8rem;
    font-size: 2.5rem;
}
.intro p{
    line-height: 1.5lh;
}
.enlace{
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.enlace a{
    background-color: rgb(114, 114, 214);
    border-radius: 20px;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    text-decoration: none;
    color: aliceblue;

}
.enlace a:hover{
    background-color: rgb(114, 114, 214);
}
.join{

    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(114, 114, 214);
    height: 70px;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    justify-items: center;
    color: white;
    text-transform: uppercase;

}
