.contenedor{
    background-color: rgb(200, 216, 222);
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
    border-radius: 20px;
}

.titulo{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    padding-top: 40px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    background-color: rgb(68, 181, 222);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;

}
h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(108, 195, 219);
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}
.textos{
    margin-left: 10px;
    margin-right: 10px;
}

.poema{
    font-style: italic;
    margin-left: 50px;
    line-height: 180%;
}

pre{
    font-size: 20px;
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pie{
text-align: right;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-right: 10px;
padding-bottom: 10px;
}
